<%- include('partials/header') %>
  <main>
    <div class="d-flex h-100 text-center text-white">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="px-3">
          <h1>Welcome, (insert name here)</h1>
          <p class="lead">Let's start the day!</p>
          <!-- <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white">Learn more</a>
          </p> -->
        </div>
      </div>
    </div>
  </main>
<%- include('partials/footer') %>